[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "<3.13,>=3.12"
django-rest-auth = "<0.10,>=0.9"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.11"
